body {
    margin: 0;
    color: wheat;

}
.tab-container {
    display: flex;
    gap: 30px;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: center;
}

.tab {
    cursor: pointer;
    background-color: red;
    padding: 10px 20px 10px;
}

.current-tab {
    border-bottom: solid blue 2px;
}

#content {
    background-color: black;
    height: 100vh;
}

.page-body {
    text-align: center;
}